:root {
    --dashbord-border-radius: 20px;
    --dashbord-acc-name-font-size: medium;
    --dashbord-acc-name-font-family: 'Sans-serif', Arial;
    --dashbord-acc-username-font-size: small;
    --dashbord-chat-item-profile-img-width: 15%;
    --dashbord-chat-item-profile-img-def-font-family: 'Cursive', Lucida Handwriting;
    --dashbord-chat-item-profile-img-def-font-color: rgb(205, 121, 18);
    --dashbord-chat-item-profile-img-def-bcg-color: bisque;
    --dashbord-chat-item-padding: 15px;
}

html {
    height: 100%;
}

body {
    border: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: rgb(233, 233, 233);
    /*disable select text*/ 
}

.popup{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(101, 101, 101, 0.385);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sans-serif', Arial;
    visibility: hidden;
    transition-duration: 2s;
}

.popup .massage{
    width: 40%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 20px;
    position: relative;
    max-height: 80vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup .massage .close{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 20px;
    top: 20px;
    background-color: rgba(234, 234, 234, 0.401);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.popup .massage .close img{
    width: 70%;
}

.popup .massage .title{
    font-size: large;
    margin-top: 20px;
}

.popup .massage .dis{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup .massage .dis .add-new-c{
    width: 45%;
    display: flex;
    position: relative;
    align-items: center;
}

.popup .massage .dis .add-new-c  .action{
    width: 25px;
    height: 27px;
    position: absolute;
    background-color: rgba(208, 208, 208, 0.401);
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.popup .massage .dis .add-new-c  .action img{
    width: 70%;
}

.popup .massage .dis input{
    width: 100%;
    border-radius: 10px;
    border: 0;
    background-color: rgba(234, 234, 234, 0.489);
    padding: 12px 20px;
    padding-right: 35px;
    outline: none;
}

.left {
    width: 30%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
}

.dashbord {
    width: 80%;
    height: 80vh;
    border-radius: var(--dashbord-border-radius);
    display: flex;
    position: relative;
    flex-direction: column;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    overflow: hidden;
        /*the border radius of a div was blocked by a */
        -webkit-touch-callout: none;/* iOS Safari */
}

.dashbord .acc-info-and-sort {
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 226, 226);
}

.dashbord .acc-info {
    height: fit-content;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.dashbord .acc-info .acc-img {
    width: 15%;
    border-radius: 50%;
}

.dashbord .acc-info .acc-name-username {
    width: 70%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    font-family: var(--dashbord-acc-name-font-family);
    overflow-x: hidden;
}

.dashbord .acc-info .acc-name {
    font-size: var(--dashbord-acc-name-font-size);
}

.dashbord .acc-info .acc-username {
    font-size: var(--dashbord-acc-username-font-size);
}

.dashbord .acc-info .acc-options {
    width: 8%;
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dashbord .chat-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-family: var(--dashbord-acc-name-font-family);
    position: relative;
}


.dashbord .chat-list .chat-item {
    display: flex;
    width: auto;
    padding: var(--dashbord-chat-item-padding);
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    transition-duration: 250ms;
    --iron-icon-fill-color: rgb(192, 192, 246);
}

.dashbord .chat-list .chat-item:hover {
    background-color: rgb(232, 232, 232);
}

.dashbord .chat-list .chat-item .profile-img-def {
    width: var(--dashbord-chat-item-profile-img-width);
    aspect-ratio: 1 / 1;
    background-color: var(--dashbord-chat-item-profile-img-def-bcg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: var(--dashbord-chat-item-profile-img-def-font-family);
    font-size: 3.5vh;
    color: var(--dashbord-chat-item-profile-img-def-font-color);
}

.dashbord .chat-list .acc-name-and-latest-msg{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    padding-left: 10px;
}

.dashbord .chat-list .chat-item .acc-name {
    font-family: var(--dashbord-acc-name-font-family);
    font-size: var(--dashbord-acc-name-font-size);
    display: flex;
    width: 100%;
}

.dashbord .chat-list .chat-item .other-info{
    background-color: darkcyan;
    position: absolute;
    right: 20px;
    align-self: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashbord .chat-list .chat-item .other-info .new-request{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashbord .chat-list .chat-item .other-info .new-request img{
    width: 80%;
}

.dashbord .chat-list .empty-chat-list{
    text-align: center;
    margin-top: 50px;
}

.dashbord .add-contact{
    width: 100%;
    position: absolute;
    bottom: 0px;


}

.dashbord .add-contact .btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.dashbord .add-contact .btn img{
    width: 60%;
}

.right{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-box {
    width: 80%;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: var(--dashbord-border-radius);
    overflow: hidden;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.chat-box .non-selected-chat{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.chat-box .non-selected-chat .title{
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
    font-size: 40px;
    word-spacing: 20px;
    padding: 50px;
}

.chat-box .non-selected-chat .logo-and-text{
    display: flex;
    height: 100%;
    border-top-left-radius: 35%;
    border-top-right-radius: 80%;
    background-color: rgb(224, 224, 224);
}

.chat-box .non-selected-chat .logo{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.chat-box .non-selected-chat .logo img{
    width: 70%;
}

.chat-box .non-selected-chat .text{
    display: flex;
    align-items: center;
    font-family: var(--dashbord-acc-name-font-family);
}

.chat-box .loading-chat{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
}

.chat-box .loading-chat .holder{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    font-family: var(--dashbord-acc-name-font-family);
}

.chat-box .loading-chat .holder img{
    width: 10%;
}

.chat-box .loaded-chat{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    display: none;
}

.chat-box .loaded-chat .acc-info{
    padding: var(--dashbord-chat-item-padding);
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgb(226, 226, 226);
}

.chat-box .loaded-chat .acc-info .acc-img {
    width: 6%;
    border-radius: 50%;
    display: none;
}

.chat-box .loaded-chat .profile-img-def {
    width: 6%;
    aspect-ratio: 1 / 1;
    background-color: var(--dashbord-chat-item-profile-img-def-bcg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: var(--dashbord-chat-item-profile-img-def-font-family);
    font-size: 3.5vh;
    color: var(--dashbord-chat-item-profile-img-def-font-color);
}

.chat-box .loaded-chat .acc-info .acc-name-username {
    width: 70%;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    font-family: var(--dashbord-acc-name-font-family);
    overflow-x: hidden;
}

.chat-box .loaded-chat .acc-name {
    font-size: var(--dashbord-acc-name-font-size);
}

.chat-box .loaded-chat .acc-username {
    font-size: var(--dashbord-acc-username-font-size);
}

.load-info {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.av-select{
    -webkit-touch-callout: none;/* iOS Safari */
    -webkit-user-select: none;/* Safari */
    -khtml-user-select: none;/* Konqueror HTML */
    -moz-user-select: none;/* Old versions of Firefox */
    -ms-user-select: none;/* Internet Explorer/Edge */
    user-select: none;/* Non-prefixed version, currentlysupported by Chrome, Edge, Opera and Firefox */
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    border-bottom-left-radius: var(--dashbord-border-radius);
}

/* Track */
::-webkit-scrollbar-track {
    transition-duration: 2s;
}

::-webkit-scrollbar-track:hover {}

/* Handle */
::-webkit-scrollbar-thumb {
    transition-duration: 2s;
    background-color: rgb(171, 171, 171);
    border-radius: 5px;
    background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*to rotate the sync in the add new contact*/
@keyframes rotate {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
  }

  /*for svg one*/
  .c-white{
    color: white;
  }

  .c-yellow{
    background-color: rgb(185, 160, 44);
  }